{:paths ["src"]

 :deps
 {com.evolvedbinary.thirdparty.org.apache.xmlrpc/xmlrpc-client {:mvn/version "6.1.0"}
  com.evolvedbinary.thirdparty.org.apache.xmlrpc/xmlrpc-server {:mvn/version "6.1.0"}}

 :aliases
 {:dev
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}

  :test
  {:extra-paths ["test" "test-resources"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}}}
